<h1 id="tableLabel">Countries</h1>

<p>This component demonstrates fetching data from the server.</p>
@if(!countries){
<p><em>Loading...</em></p>}
@else{
<table class="table table=stripe">
    <thead>
        <tr>
            <th>Name</th>
            <th>ISO2</th>
            <th>ISO3</th>
        </tr>
    </thead>
    <tbody>
        @for (country of countries; track $index) {
        <tr>
            <td>{{ countries[$index].name }}</td>
            <td>{{ countries[$index].iso2 }}</td>
            <td>{{ countries[$index].iso3 }}</td>
        </tr>
    }
    </tbody>
</table>
}